* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }
  html {
    font-size: 62.5%;
  }
  
  body {
    margin: 0 auto;
    /* padding: 0 32px; */
    min-width: 320px;
    background-color: #f5f7fb;
   
  }

  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.quiz-heading{
    color: #293264;
    letter-spacing: 1px;
    font-size: 5rem;
}

.quiz-description {
    color: #293264;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 2rem;
}

.quiz-button{
    margin-top: 20px;
}
.quiz-button a {
    text-decoration: none;
}
#start-quiz {
 padding: 12px 30px;
 cursor: pointer;
 font-size: 1.5rem;
 font-weight: 600;
 background-color: #4D5B9E;
 border: none;
 border-radius: 10px;
 transition: all ease 0.5s;
 color: #fff;
}
#start-quiz:hover {
background-color: black;
 
}

.quizes{
    height: 300px;
    background-color: #4D5B9E;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: all ease 0.5s;
    cursor: pointer;
}
.quizes:hover {

  background-color: #fff;
  scale: 1.1;

}
.quizes h1:hover {
  color: #000;

}

.quiz-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    height: 100vh;
  background-color: #d5e2ff;
  padding: 30px;
}

.quizes h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

  .quiz-section {
    display: contents;
  }
  
@media screen and (max-width :1023px) {
    .quiz-container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width :768px) {
    .quiz-container {
        grid-template-columns: repeat(2,1fr);
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width :475px) {
    .quiz-container {
        grid-template-columns: repeat(1,1fr);
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* quiz question */
.quiz-question {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
 padding: 0 80px 0 80px;
}
.question h2 {
  color: #293264;
  font-size: 16px;
  font-weight: 600;
}

.options{
  text-align: start;
  gap: 15px;
  display: flex;
  padding:  0 0 0 20px;
}
.radio-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #293264;
  border-radius: 25px;
  cursor: pointer;
  min-width: 120px;
  min-height: 20px;
  padding: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #293264;
  font-size: 14px;
}
.options input:checked + .radio-label {
  background: #d6dbf5;  
  color: #d6dbf5;
  border: none;
}
.options input {
  display: none;
}
.radio-label:hover {
  background-color: #e0e0e0;
}

@media screen and (max-width: 769px) {
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .radio-label {
    padding: 6px;
    font-size: 13px;
  }
  .question h2 {
    font-size: 14px;
  }
}
hr {
  margin-top: 20px;
  height: 1.5px;
  background-color: #cacfe7;

}
.quiz-quesitons{
  padding: 30px;
  margin-left: 30px;
}

.quiz-navigation button {
  margin-top: 30px;
  padding: 8px 20px;
  /* margin-bottom: 30px; */
  cursor: pointer;
  border: 1px solid #293264;
  color: #fff;
  transition: all ease 0.5s;
  border-radius: 2px;
  background-color: #4D5B9E;
 
}
.quiz-navigation button:hover {
  background-color: black;
}
@media screen and (max-width:768px) {
  .quiz-navigation button {
    display: flex;
    /* width: 100%; */
    justify-content: center;
  }
}


.check-answers {
  margin-bottom: 20px;
 display: flex;
 justify-content: center;
}

#check-answer-btn {
  padding:  8px 20px;
  border-radius: 2px;
  border: none;
  background-color: #4D5B9E;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.5s;
}
#check-answer-btn:hover {
   background-color: #000;
}

 .score-message {
  margin-top: 30px;
  text-align: center;
  font-size: 1.5rem;
  color: red;
}
div.quiz-navigation {
  margin-left: 70px;
}
@media (min-width: 2200px) and (max-width: 2700px){
  .quiz-heading{
    color: #293264;
    letter-spacing: 3px;
    font-size: 20rem;
}
.quiz-description {
  color: #293264;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 6rem;
  margin-bottom: 30px;
}

.quiz-button{
  margin-top: 40px;
}

#start-quiz {
padding: 40px 90px;
font-size: 7.5rem;
}

.quizes{
  height: 900px;
  width: 500px;
  font-size: 3rem;
}
.quiz-question {

  gap: 30px;
  margin-top: 60px;
 padding: 0 200px 0 200px;
}
.question h2 {
  color: #293264;
  font-size: 5rem;
  font-weight: 600;
}

.options{
  text-align: start;
  gap: 15px;
  display: flex;
  padding:  0 0 0 100px;
}
.radio-label {
  min-width: 520px;
  min-height: 80px;
  font-size: 4rem;
}
.quiz-navigation button {
  margin-top: 40px;
  padding: 28px 90px;
 font-size: 4rem;
 margin-left: 90px;
}
#check-answer-btn {
  padding:  38px 90px;
}

.score-message {
  font-size: 4.5rem;
}
}


@media (min-width: 1400px) and (max-width: 2200px){
  .quiz-heading{
    letter-spacing: 3px;
    font-size: 8rem;
}
.quiz-description {
  font-size: 4rem;
  letter-spacing: 3px;
}

.quiz-button{
  margin-top: 40px;
}

#start-quiz {
padding: 20px 50px;
font-size: 3.4rem;
}

.quizes{
  height: 500px;
  width: 300px;
  font-size: 1.7rem;
}
.quiz-question {

  gap: 10px;
  margin-top: 10px;
 padding: 0 60px 0 60px;
}
.question h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.options{
  
  gap: 10px;
  display: flex;
  padding:  0 0 0 50px;
}
.radio-label {
  min-width: 300px;
  min-height: 60px;
  font-size: 2rem;
}
.quiz-navigation button {
  padding: 15px 40px;
 font-size: 2rem;
 margin-left: 50px;
}
#check-answer-btn {
  padding:  20px 40px;
}

.score-message {
  font-size: 2rem;
}
}


@media (min-width: 900px) and (max-width: 1024px) {
  .question h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .options{
    
    gap: 10px;
    display: flex;
    padding:  0 0 0 20px;
  }
  .radio-label {
    min-width: 200px;
    min-height: 30px;
    font-size: 1rem;
  }
}


@media screen and (max-width: 426px) {
  body {
    padding: 10px;
  }
  .quiz-question {
    gap: 5px;
    margin-top: 10px;
   padding: 0 10px 0 10px;
  }
  .question h2 {
    font-size: 12px;
    font-weight: 600;
  }
  .radio-label {
    min-width: 100px;
    min-height: 20px;
    font-size: 9px;
  }
  .quiz-navigation button {
    padding: 8px 20px;
   font-size: 12px;
   width: 100%;
  }
  #check-answer-btn {
    padding:  8px 20px;
    margin-left: 0px;
    margin-top: 5px;
  }
  div.quiz-navigation {
    margin-left: 0px;
  }
}